<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="post" placeholder="enter post of user">
        <input type="text" name="name" placeholder="enter the name">
        <button href="/all">Send the post</button>
        <a href="/all">Подивитися коментарі</a>
    </form>
    
</body>
</html>