<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app1/style.css' %}">
</head>
<body>
    <form action="" method="POST">
        <div class="info">
            {% csrf_token %}
            {% for com in comment %}
            {% for pos in post %}
            <div class="main">
                <p>{{pos.post}}</p>
                <p>{{pos.name}}</p>
                <p>{{com.comment}}</p>
                <p>{{com.post_id}}</p>
            </div>
            
            {% endfor %}
            {% endfor %}
        </div>
        
        
    </form>
    
</body>
</html>